{{ 'plp-banner.min.css' | asset_url | stylesheet_tag }}

<div class='plp-banner'>
  <div class='plp-banner-container page-width'>
    <div class='plp-banner__text-wrapper'>
      <h1 class='plp-banner__title primary-font-family'>
        {{- collection.title -}}
      </h1>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "PLP-banner",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop Grid Default"
    }
  ]
}
{% endschema %}
